<html>
    <head>
        <title>Your Contacts</title>
    </head>
    <body>
        <h1>You created a contact!</h1>
        {% if contacts is not empty %}


            <p>{{ contacts.getName }}</p>
            <p>{{ contacts.getInformation }}</p>
            <p>{{ contacts.getNumber }}</p>


        {% endif %}
        <a href="/">Return Home</a>
    </body>
</html>
